.git/HEAD.lock
.Rproj.user
.Rhistory
.RData
.Ruserdata
Code/klad.Rmd
*/.Rproj.user/*
.Rhistory
.DS_Store
Application/lib/networks/*
EventApplication/lib/networks/*
Dashboard/lib/networks/*
Dashboard/lib/__MAXCOSX/*
.idea/.name
Profiles/input/*
Profiles/output/*
Data/processed/topics_cosine_similarity_matrix.csv

Data/input/abstracts.csv
Data/output/abstracts.csv
Data/processed/abstracts_sdg_topic_50.csv
Data/processed/abstracts_sdg_topic_110.csv
Dashboard/lib/plots.zip
Dashboard/lib/plots/*
Data/output/abstracts_complete.csv
