.git/HEAD.lock
.Rproj.user
.Rhistory
.RData
.Ruserdata
*/.Rproj.user/*
.Rhistory
.DS_Store

datasets/oecd/*
datasets/aurora/*
datasets/mapper/*
datasets/osdg/*
datasets/prospector/*

keywords/*
analysis/data/predicted
